# Empyrion Resource Location Tracker Requirements

# Web Version (Recommended)
Flask>=2.3.0

# Desktop Version (PySide6) - Optional
PySide6>=6.5.0

# Note: You only need to install the requirements for the version you want to use:
# 
# For web version only:
#   pip install flask
#
# For desktop version only:
#   pip install pyside6
#
# For both versions:
#   pip install -r requirements.txt
